Repository CS2103-AY1819S1-W17-2/main, pull requests merged in 2018-10, with the labels that each got.

#44 UserManagement: RegisterCommand
  docs/UserGuide.adoc
  src/main/java/seedu/address/MainApp.java
  src/main/java/seedu/address/commons/core/Config.java
  src/main/java/seedu/address/commons/core/Version.java
  src/main/java/seedu/address/commons/events/model/CredentialStoreChangedEvent.java
  src/main/java/seedu/address/logic/commands/RegisterCommand.java
  src/main/java/seedu/address/logic/parser/AddressBookParser.java
  src/main/java/seedu/address/logic/parser/CliSyntax.java
  src/main/java/seedu/address/logic/parser/RegisterCommandParser.java
  src/main/java/seedu/address/model/Model.java
  src/main/java/seedu/address/model/ModelManager.java
  src/main/java/seedu/address/model/UserPrefs.java
  src/main/java/seedu/address/model/credential/Credential.java
  src/main/java/seedu/address/model/credential/CredentialStore.java
  src/main/java/seedu/address/model/credential/ReadOnlyCredentialStore.java
  src/main/java/seedu/address/model/user/Role.java
  src/main/java/seedu/address/model/user/Student.java
  src/main/java/seedu/address/model/user/User.java
  src/main/java/seedu/address/storage/CredentialStoreStorage.java
  src/main/java/seedu/address/storage/Storage.java
  src/main/java/seedu/address/storage/StorageManager.java
  src/main/java/seedu/address/storage/XmlAdaptedCredential.java
  src/main/java/seedu/address/storage/XmlAddressBookStorage.java
  src/main/java/seedu/address/storage/XmlCredentialStoreStorage.java
  src/main/java/seedu/address/storage/XmlFileStorage.java
  src/main/java/seedu/address/storage/XmlSerializableCredentialStore.java
  src/test/java/seedu/address/TestApp.java
  src/test/java/seedu/address/commons/core/ConfigTest.java
  src/test/java/seedu/address/logic/LogicManagerTest.java
  src/test/java/seedu/address/logic/commands/AddCommandIntegrationTest.java
  src/test/java/seedu/address/logic/commands/AddCommandTest.java
  src/test/java/seedu/address/logic/commands/ClearCommandTest.java
  src/test/java/seedu/address/logic/commands/DeleteCommandTest.java
  src/test/java/seedu/address/logic/commands/EditCommandTest.java
  src/test/java/seedu/address/logic/commands/FindCommandTest.java
  src/test/java/seedu/address/logic/commands/ListCommandTest.java
  src/test/java/seedu/address/logic/commands/RedoCommandTest.java
  src/test/java/seedu/address/logic/commands/RegisterCommandIntegrationTest.java
  src/test/java/seedu/address/logic/commands/RegisterCommandTest.java
  src/test/java/seedu/address/logic/commands/SelectCommandTest.java
  src/test/java/seedu/address/logic/commands/UndoCommandTest.java
  src/test/java/seedu/address/logic/parser/ParserUtilTest.java
  src/test/java/seedu/address/model/ModelManagerTest.java
  src/test/java/seedu/address/storage/StorageManagerTest.java
  src/test/java/seedu/address/testutil/CredentialBuilder.java
  src/test/java/seedu/address/testutil/CredentialStoreBuilder.java
  src/test/java/seedu/address/testutil/StudentBuilder.java
  src/test/java/seedu/address/testutil/TypicalCredentials.java
  src/test/java/seedu/address/testutil/TypicalUsers.java
  src/test/java/seedu/address/ui/PersonCardTest.java
Labels: enhancement, status.readyToReview

#56 Docs: Update UserGuide.adoc to incl. upcoming User Managment commands
  docs/UserGuide.adoc
Labels: docs, status.readyToReview

#55 Docs: Update UserGuide.adoc
  docs/UserGuide.adoc
Labels: docs, status.readyToReview

#57 Docs: Update UserGuide.adoc
  docs/UserGuide.adoc
Labels: docs, status.readyToMerge

#86 Generate: Module & UniqueModuleList Test Cases
  src/test/java/seedu/address/logic/commands/CommandTestUtil.java
  src/test/java/seedu/address/model/module/ModuleTest.java
  src/test/java/seedu/address/model/module/UniqueModuleListTest.java
Labels: status.readyToMerge

#104 Data Security Utility
  src/main/java/seedu/address/commons/exceptions/CorruptedFileException.java
  src/main/java/seedu/address/commons/exceptions/InvalidPasswordException.java
  src/main/java/seedu/address/commons/util/DataSecurityUtil.java
  src/test/java/seedu/address/commons/util/DataSecurityUtilTest.java
Labels: status.readyToMerge

#99 User Module Management: Add test cases for AddOn/Remove/Search commands and Module & UniqueModuleList
  src/main/java/seedu/address/logic/commands/AddOnCommand.java
  src/main/java/seedu/address/logic/commands/RemoveCommand.java
  src/main/java/seedu/address/model/module/Module.java
  src/test/java/seedu/address/logic/commands/AddOnCommandTest.java
  src/test/java/seedu/address/logic/commands/RemoveCommandTest.java
  src/test/java/seedu/address/logic/commands/SearchCommandTest.java
  src/test/java/seedu/address/model/module/ModuleTest.java
  src/test/java/seedu/address/model/module/UniqueModuleListTest.java
Labels: status.readyToReview

#83 Docs/v1.1 feedback
  README.adoc
  docs/AboutUs.adoc
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
Labels: docs, status.readyToMerge

#119 Feat/save user
  src/main/java/seedu/address/MainApp.java
  src/main/java/seedu/address/commons/events/model/ConfigStoreChangedEvent.java
  src/main/java/seedu/address/commons/events/model/SaveUserChangedEvent.java
  src/main/java/seedu/address/commons/util/DataSecurityUtil.java
  src/main/java/seedu/address/logic/commands/SaveCommand.java
  src/main/java/seedu/address/logic/parser/AddressBookParser.java
  src/main/java/seedu/address/logic/parser/CliSyntax.java
  src/main/java/seedu/address/logic/parser/ParserUtil.java
  src/main/java/seedu/address/logic/parser/SaveCommandParser.java
  src/main/java/seedu/address/model/Config.java
  src/main/java/seedu/address/model/ConfigStore.java
  src/main/java/seedu/address/model/Model.java
  src/main/java/seedu/address/model/ModelManager.java
  src/main/java/seedu/address/model/UserPrefs.java
  src/main/java/seedu/address/model/user/User.java
  src/main/java/seedu/address/model/user/student/Student.java
  src/main/java/seedu/address/storage/ConfigStoreStorage.java
  src/main/java/seedu/address/storage/Storage.java
  src/main/java/seedu/address/storage/StorageManager.java
  src/main/java/seedu/address/storage/UserStorage.java
  src/main/java/seedu/address/storage/XmlAdaptedConfig.java
  src/main/java/seedu/address/storage/XmlAdaptedUser.java
  src/main/java/seedu/address/storage/XmlConfigStoreStorage.java
  src/main/java/seedu/address/storage/XmlFileStorage.java
  src/main/java/seedu/address/storage/XmlSerializableConfigStore.java
  src/main/java/seedu/address/storage/XmlSerializableUser.java
  src/main/java/seedu/address/storage/XmlUserStorage.java
  src/test/java/seedu/address/TestApp.java
  src/test/java/seedu/address/commons/util/DataSecurityUtilTest.java
  src/test/java/seedu/address/logic/LogicManagerTest.java
  src/test/java/seedu/address/logic/commands/AddAdminCommandIntegrationTest.java
  src/test/java/seedu/address/logic/commands/AddCommandIntegrationTest.java
  src/test/java/seedu/address/logic/commands/AddCommandTest.java
  src/test/java/seedu/address/logic/commands/AddModuleToDatabaseCommandTest.java
  src/test/java/seedu/address/logic/commands/AddOnCommandTest.java
  src/test/java/seedu/address/logic/commands/ClearCommandTest.java
  src/test/java/seedu/address/logic/commands/DeleteCommandTest.java
  src/test/java/seedu/address/logic/commands/EditCommandTest.java
  src/test/java/seedu/address/logic/commands/FindCommandTest.java
  src/test/java/seedu/address/logic/commands/GenerateCommandTest.java
  src/test/java/seedu/address/logic/commands/ListCommandTest.java
  src/test/java/seedu/address/logic/commands/LoginCommandIntegrationTest.java
  src/test/java/seedu/address/logic/commands/RedoCommandTest.java
  src/test/java/seedu/address/logic/commands/RegisterCommandIntegrationTest.java
  src/test/java/seedu/address/logic/commands/RemoveCommandTest.java
  src/test/java/seedu/address/logic/commands/SaveCommandTest.java
  src/test/java/seedu/address/logic/commands/SaveIntegrationTest.java
  src/test/java/seedu/address/logic/commands/SearchCommandTest.java
  src/test/java/seedu/address/logic/commands/SelectCommandTest.java
  src/test/java/seedu/address/logic/commands/UndoCommandTest.java
  src/test/java/seedu/address/model/ModelManagerTest.java
  src/test/java/seedu/address/storage/StorageManagerTest.java
  src/test/java/seedu/address/testutil/ConfigBuilder.java
  src/test/java/seedu/address/testutil/TypicalConfig.java
Labels: priority.High, status.readyToMerge

#128 docs: Include add/removeModuleDB in UserGuide.adoc and DeveloperGuide.adoc
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  docs/images/.directory
  docs/images/AddModuleToDatabaseCommandUML.png
  docs/images/RemoveModuleFromDatabaseCommandUML.png
  docs/images/SDforAddModuleToDatabaseCommand.png
  docs/images/SDforAddModuleToDatabaseCommandLogicAndModel.png
  docs/images/SDforRemoveModuleFromDatabaseCommand.png
  docs/images/SDforRemoveModuleFromDatabaseCommandLogicAndModel.png
Labels: docs, status.readyToReview

#131 Save User feature UGDG
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  docs/diagrams/SaveFeatureDiagrams.pptx
  docs/images/SaveCommandUML.png
  docs/images/SequenceDiagramforSave.png
  docs/images/SequenceDiagramforSaveEventHandling.png
Labels: docs, status.readyToReview

#124 Generate student schedule
  src/main/java/seedu/address/logic/Generate.java
  src/main/java/seedu/address/logic/commands/GenerateCommand.java
  src/main/java/seedu/address/logic/commands/RemoveModuleFromDatabaseCommand.java
  src/main/java/seedu/address/logic/parser/AddModuleToDatabaseCommandParser.java
  src/main/java/seedu/address/logic/parser/AddModuleToStudentStagedCommandParser.java
  src/main/java/seedu/address/logic/parser/AddModuleToStudentTakenCommandParser.java
  src/main/java/seedu/address/logic/parser/RemoveModuleFromStudentStagedCommandParser.java
  src/main/java/seedu/address/logic/parser/RemoveModuleFromStudentTakenCommandParser.java
  src/main/java/seedu/address/logic/parser/SearchCommandParser.java
  src/main/java/seedu/address/model/Model.java
  src/main/java/seedu/address/model/ModelManager.java
  src/main/java/seedu/address/model/ModuleList.java
  src/main/java/seedu/address/model/module/Code.java
  src/main/java/seedu/address/model/module/CodeContainsKeywordsPredicate.java
  src/main/java/seedu/address/model/module/CodeStartsKeywordsPredicate.java
  src/main/java/seedu/address/model/module/Module.java
  src/main/java/seedu/address/model/module/Prereq.java
  src/main/java/seedu/address/model/module/PrereqAnd.java
  src/main/java/seedu/address/model/module/PrereqOr.java
  src/main/java/seedu/address/model/module/UniqueModuleList.java
  src/main/java/seedu/address/model/semester/Semester.java
  src/main/java/seedu/address/model/semester/SemesterList.java
  src/main/java/seedu/address/model/user/exceptions/NotStudentUserException.java
  src/main/java/seedu/address/model/user/student/Student.java
  src/main/java/seedu/address/model/util/SampleDataUtil.java
  src/main/java/seedu/address/storage/ModuleListStorage.java
  src/main/java/seedu/address/storage/XmlAdaptedAnd.java
  src/main/java/seedu/address/storage/XmlAdaptedLockedModules.java
  src/main/java/seedu/address/storage/XmlAdaptedModule.java
  src/main/java/seedu/address/storage/XmlAdaptedOr.java
  src/main/java/seedu/address/storage/XmlAdaptedPrereq.java
  src/main/java/seedu/address/storage/XmlAdaptedUser.java
  src/main/java/seedu/address/storage/XmlModuleListStorage.java
  src/main/java/seedu/address/ui/ModuleCard.java
  src/test/java/guitests/guihandles/ModuleCardHandle.java
  src/test/java/seedu/address/logic/commands/AddCommandTest.java
  src/test/java/seedu/address/logic/commands/AddModuleToDatabaseCommandTest.java
  src/test/java/seedu/address/logic/commands/AddModuleToStudentStagedCommandTest.java
  src/test/java/seedu/address/logic/commands/AddModuleToStudentTakenCommandTest.java
  src/test/java/seedu/address/logic/commands/CommandTestUtil.java
  src/test/java/seedu/address/logic/commands/GenerateCommandTest.java
  src/test/java/seedu/address/logic/commands/RemoveModuleFromDatabaseCommandTest.java
  src/test/java/seedu/address/logic/commands/RemoveModuleFromStudentStagedCommandTest.java
  src/test/java/seedu/address/logic/commands/RemoveModuleFromStudentTakenCommandTest.java
  src/test/java/seedu/address/logic/commands/SearchCommandTest.java
  src/test/java/seedu/address/logic/parser/SearchCommandParserTest.java
  src/test/java/seedu/address/model/module/ModuleTest.java
  src/test/java/seedu/address/model/module/UniqueModuleListTest.java
  src/test/java/seedu/address/testutil/ModuleBuilder.java
  src/test/java/seedu/address/testutil/TypicalModules.java
  src/test/java/seedu/address/ui/BrowserPanelTest.java
  src/test/java/seedu/address/ui/ModuleCardTest.java
  src/test/java/seedu/address/ui/testutil/GuiTestAssert.java
Labels: priority.High, status.readyToMerge

#142 Add missing diagrams for DG
  docs/diagrams/AddModuleToDatabaseCommandUML.pptx
  docs/diagrams/RemoveModuleFromDatabaseCommandUML.pptx
  docs/diagrams/SDforAddModuleToDatabaseCommand.pptx
  docs/diagrams/SDforAddModuleToDatabaseCommandLogicAndModel.pptx
  docs/diagrams/SDforRemoveModuleFromDatabaseCommand.pptx
  docs/diagrams/SDforRemoveModuleFromDatabaseCommandLogicAndModel.pptx
Labels: docs, status.readyToMerge

#136 docs: User Module Management feature UGDG
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  docs/images/AddModuleToStudentStagedTakenCommandUML.png
  docs/images/SDforAddModuleToStudentStagedTakenCommandLogicAndModel.png
  docs/images/SDforAddModuleToStudentStagedTakenCommandOverview.png
Labels: docs, status.readyToMerge

#127 docs: Include Register & Login Feature in UserGuide.adoc & DeveloperGuide.adoc
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  docs/diagrams/LoginCommandUML.pptx
  docs/diagrams/RegisterCommandUML.pptx
  docs/diagrams/SDforLoginCommand.pptx
  docs/diagrams/SDforLoginCommandLogicAndModel.pptx
  docs/diagrams/SDforRegisterCommand.pptx
  docs/diagrams/SDforRegisterCommandLogicAndModel.pptx
  docs/images/LoginCommandUML.png
  docs/images/RegisterCommandUML.png
  docs/images/SDforLoginCommandLogicAndModel.png
  docs/images/SDforLoginCommandOverview.png
  docs/images/SDforRegisterCommandLogicAndModel.png
  docs/images/SDforRegisterCommandOverview.png
Labels: docs, status.readyToReview

#171 Save: Integrate encryption with save + test cases for save
  src/main/java/seedu/modsuni/logic/Logic.java
  src/main/java/seedu/modsuni/logic/LogicManager.java
  src/main/java/seedu/modsuni/logic/commands/SaveCommand.java
  src/main/java/seedu/modsuni/ui/BrowserPanel.java
  src/main/java/seedu/modsuni/ui/MainWindow.java
  src/main/resources/view/BrowserPanel.fxml
  src/test/data/XmlSerializableCredentialStoreTest/typicalCredentialStore.xml
  src/test/data/XmlSerializableUserTest/validUserData.xml
  src/test/data/XmlUserStorageTest/NotXmlFormatUserData.xml
  src/test/java/seedu/modsuni/logic/commands/SaveCommandIntegrationTest.java
  src/test/java/seedu/modsuni/logic/commands/SaveCommandTest.java
  src/test/java/seedu/modsuni/storage/XmlAdaptedUserTest.java
  src/test/java/seedu/modsuni/storage/XmlSerializableUserTest.java
  src/test/java/seedu/modsuni/storage/XmlUserStorageTest.java
  src/test/java/seedu/modsuni/testutil/TypicalCredentials.java
Labels: priority.High, status.readyToReview

#189 Included UI updates for User Tab, updated Register Command to automatically save the newly created User
  src/main/java/seedu/modsuni/commons/events/ui/UserTabChangedEvent.java
  src/main/java/seedu/modsuni/commons/util/DataSecurityUtil.java
  src/main/java/seedu/modsuni/logic/commands/EditStudentCommand.java
  src/main/java/seedu/modsuni/logic/commands/LoginCommand.java
  src/main/java/seedu/modsuni/logic/commands/RegisterCommand.java
  src/main/java/seedu/modsuni/logic/parser/RegisterCommandParser.java
  src/main/java/seedu/modsuni/storage/XmlAdaptedUser.java
  src/main/java/seedu/modsuni/ui/MainWindow.java
  src/main/java/seedu/modsuni/ui/UserTab.java
  src/main/resources/view/DarkTheme.css
  src/main/resources/view/MainWindow.fxml
  src/main/resources/view/UserTab.fxml
  src/test/java/seedu/modsuni/logic/commands/RegisterCommandIntegrationTest.java
  src/test/java/seedu/modsuni/logic/commands/RegisterCommandTest.java
  src/test/java/seedu/modsuni/logic/parser/ModsUniParserTest.java
  src/test/java/seedu/modsuni/logic/parser/RegisterCommandParserTest.java
  src/test/java/seedu/modsuni/testutil/TypicalSavePaths.java
Labels: priority.High, status.readyToMerge, type.Code, type.UI

#184 UI for Save user feature
  src/main/java/seedu/modsuni/commons/events/ui/NewSaveResultAvailableEvent.java
  src/main/java/seedu/modsuni/commons/events/ui/SaveDisplayRequestEvent.java
  src/main/java/seedu/modsuni/logic/commands/SaveCommand.java
  src/main/java/seedu/modsuni/model/user/Admin.java
  src/main/java/seedu/modsuni/model/user/User.java
  src/main/java/seedu/modsuni/model/user/student/Student.java
  src/main/java/seedu/modsuni/ui/MainWindow.java
  src/main/java/seedu/modsuni/ui/SaveDisplay.java
  src/main/resources/view/SaveDisplay.fxml
  src/test/java/seedu/modsuni/logic/commands/SaveCommandIntegrationTest.java
Labels: priority.High, status.readyToMerge, type.UI

#201 Docs: Updated UGDG for Edit Student Feature & Refactored AB4 documentations
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  docs/diagrams/ArchitectureDiagram.pptx
  docs/diagrams/EditCommandUML.pptx
  docs/diagrams/LogicComponentClassDiagram.pptx
  docs/diagrams/SDforEditStudentCommand.pptx
  docs/diagrams/SDforEditStudentCommandLogicAndModel.pptx
  docs/diagrams/SDforLoginCommand.pptx
  docs/diagrams/SDforLoginCommandLogicAndModel.pptx
  docs/diagrams/SDforRegisterCommand.pptx
  docs/diagrams/SDforRegisterCommandLogicAndModel.pptx
  docs/diagrams/StorageComponentClassDiagram.pptx
  docs/diagrams/UiComponentClassDiagram.pptx
  docs/images/Architecture.png
  docs/images/EditCommandExample.png
  docs/images/EditStudentCommandUML.png
  docs/images/LogicClassDiagram.png
  docs/images/LoginCommandExample.png
  docs/images/RegisterCommandExample.png
  docs/images/SDforEditStudentCommand.png
  docs/images/SDforEditStudentCommandLogicAndModel.png
  docs/images/SDforLoginCommandLogicAndModel.png
  docs/images/SDforLoginCommandOverview.png
  docs/images/SDforRegisterCommandLogicAndModel.png
  docs/images/SDforRegisterCommandOverview.png
  docs/images/SeEduLogo.png
  docs/images/StorageClassDiagram.png
  docs/images/Ui.png
  docs/images/UiClassDiagram.png
  docs/images/damithc.jpg
  docs/images/lejolly.jpg
  docs/images/m133225.jpg
  docs/images/yijinl.jpg
  docs/images/yl_coder.jpg
Labels: docs, status.readyToMerge

#218 Docs: Update Generate command for UGDG
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  docs/diagrams/HighLevelSequenceDiagramsGenerate.pptx
  docs/diagrams/SDforGenerateCommandLogicAndModel.pptx
  docs/images/SDforGenerateCommandLogicAndModel.png
  docs/images/SequenceDiagramforGenerate.png
  docs/team/reubentan.adoc
Labels: docs, priority.Medium, status.readyToReview

#217 Add reposense config file
  .gitignore
  _reposense/config.json
Labels: docs

#204 Update Documentation for Admin Management and Module Database Management
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  docs/diagrams/.directory
  docs/diagrams/AddModuleToDatabaseCommandUML.pptx
  docs/diagrams/ModuleDatabaseManagementDiagrams.pptx
  docs/diagrams/ModuleDatabaseManagementPictures.pptx
  docs/diagrams/RemoveModuleFromDatabaseCommandUML.pptx
  docs/diagrams/SDforAddModuleToDatabaseCommand.pptx
  docs/diagrams/SDforAddModuleToDatabaseCommandLogicAndModel.pptx
  docs/diagrams/SDforRemoveModuleFromDatabaseCommand.pptx
  docs/diagrams/SDforRemoveModuleFromDatabaseCommandLogicAndModel.pptx
  docs/images/ADforModuleDatabaseAdministration.png
  docs/images/EditModuleCommandExample.png
  docs/images/EditModuleCommandUML.png
  docs/images/RemoveModuleFromDatabaseCommandExample.png
  docs/images/SDforAddModuleToDatabaseCommand.png
  docs/images/SDforAddModuleToDatabaseCommandLogicAndModel.png
  docs/images/SDforEditModuleCommand.png
  docs/images/SDforEditModuleCommandLogicAndModel.png
  docs/images/SDforRemoveModuleFromDatabaseCommand.png
  docs/images/SDforRemoveModuleFromDatabaseCommandLogicAndModel.png
  docs/team/deming.adoc
Labels: docs, priority.High

#219 Add email addresses to Reposense config file
  _reposense/config.json
Labels: type.Task

#215 Added test cases for Login, Register and Edit Student Feature
  src/main/java/seedu/modsuni/MainApp.java
  src/main/java/seedu/modsuni/logic/parser/ParserUtil.java
  src/main/java/seedu/modsuni/model/user/Admin.java
  src/main/java/seedu/modsuni/model/user/User.java
  src/main/java/seedu/modsuni/model/user/student/EnrollmentDate.java
  src/main/java/seedu/modsuni/model/user/student/Student.java
  src/main/java/seedu/modsuni/storage/XmlAdaptedUser.java
  src/test/data/LoginCommandTest/corruptedUserData.xml
  src/test/data/LoginCommandTest/typicalUserData.xml
  src/test/data/XmlSerializableCredentialStoreTest/duplicateCredentialStore.xml
  src/test/data/XmlSerializableCredentialStoreTest/invalidCredentialStore.xml
  src/test/data/XmlSerializableCredentialStoreTest/typicalCredentialStore.xml
  src/test/java/seedu/modsuni/logic/commands/EditStudentCommandTest.java
  src/test/java/seedu/modsuni/logic/commands/LoginCommandIntegrationTest.java
  src/test/java/seedu/modsuni/logic/commands/LoginCommandTest.java
  src/test/java/seedu/modsuni/model/credential/CredentialStoreTest.java
  src/test/java/seedu/modsuni/model/credential/CredentialTest.java
  src/test/java/seedu/modsuni/model/credential/PasswordTest.java
  src/test/java/seedu/modsuni/model/credential/UsernameTest.java
  src/test/java/seedu/modsuni/model/user/student/EnrollmentDateTest.java
  src/test/java/seedu/modsuni/model/user/student/StudentTest.java
  src/test/java/seedu/modsuni/storage/XmlAdaptedCredentialTest.java
  src/test/java/seedu/modsuni/storage/XmlCredentialStoreStorageTest.java
  src/test/java/seedu/modsuni/storage/XmlSerializableCredentialStoreTest.java
  src/test/java/seedu/modsuni/testutil/TypicalCredentials.java
Labels: priority.High, status.readyToMerge
